<nav class="navbar navbar-expand-lg navbar-dark bg-dark row">
    <div class="col-md-11">
      <a class="navbar-brand" href="http://localhost:3000">Home</a>
    </div>
    <div class="col-md-1">
      <a href='http://localhost:3000/write'><button
        type="button" class="btn bg-light">Write</button></a>
    </div>
</nav>