<meta charset="UTF-8">
<title>Blog</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>

    body{
        background-image: url('1.jpg');
    }
    .blue-button {
        background: rgb(0, 121, 255);
        background: linear-gradient(90deg, rgba(0, 121, 255, 1) 5%, rgba(252, 252, 252, 1) 5%);
    }

    .red-button {
        background: rgb(170, 21, 58);
        background: linear-gradient(90deg, rgba(0, 121, 255, 1) 5%, rgba(252, 252, 252, 1) 5%);
    }

    .whiteAnchor {
        color: white;
    }

    .darkAnchor {
        color: rgb(51, 51, 51);
    }

    a:link {
        text-decoration: none;
    }


    a:visited {
        text-decoration: none;
    }


    a:hover {
        text-decoration: none;
    }


    a:active {
        text-decoration: none;
    }
    .footer{
    bottom: 0;
    position: absolute;
    width: 100%;
}
</style>